
<h1 class="col-md-8">List of Registered Children</h1>

<div class="col-md-4" style="padding-top: 30px;"> 
<%= link_to 'Add New child', url_for(:action => 'new', :controller => 'child') , :class => "btn btn-primary btn-lg" %>
</div>

<br><br><br>

<table id="child" class="table table-striped table-bordered" cellspacing="0"  >
     
        <thead>
            <tr>
              <th>Registration #</th>
              <th>Name</th>
              <th> child's Gender</th>
              <th>Guardian Name</th>
              <th>T/A</th>
              <th>village</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
        </thead>


  <tbody style="color:#a65959" >
            <% @child.each do |child| %>

              <tr>
                  <td><%=child.reg_number%></td>
                  <td><%= child.full_name %></td>
                  <td> <%=child.sex %> </td>
                  <td><%=child.guardian_name%></td>
                  <td><%=child.trad_authority %></td>
                  <td> <%=child.village%>


                   <td ><%= link_to("Show", {:action =>'show', :id =>child.id}, :class => 'fa  fa-eye fa-lg') %></td>

                   <td> <%= link_to("Edit", {:action => 'edit', :id =>child.id}, :class => 'fa  fa-edit fa-lg ') %></td>
                   <td><%= link_to("Delete", {:action =>'delete', :id =>child.id}, :class => 'fa  fa-trash fa-lg') %>
                    
                   </td>

              </tr>
            <% end %>

        </tbody>
   
</table>

<hr>

<div>
<%= link_to '<< Back', url_for(:action => 'index' ,:controller => 'home') , :class => "btn btn-primary btn-default" %> 
 
</div>

   
<script type="text/javascript">

    $(document).ready(function() {
    $('#child').DataTable();
} );

</script>

