<div class="jumbotron"  >
<dl class="dl-horizontal">
      <div class="panel panel-primary panel-transparent">
        <div class="panel-heading">
          <h4>TREATMENT PLAN</h4>
        </div>
        <style>
          h4 {
            text-decoration: underline;
          }
        </style>
      </div>

      <div class="panel panel-transparent" >
        <div class="panel-body">
            <div class="row">
                <center>
                    <h5>FULL NAME: <%= @child.full_name%></h5>
                </center>
              <em>
                <div class="col-xs-6">
                  <div>
                    <p>Stay in programme : </p>
                  </div>

                  <div>
                    <p>Age: <%= @child.age_in_months%></p>
                  </div>
                </div>

                <div class="col-xs-6">
                  <div>
                    <p>Current Weight: <%= @child.follow_ups.last.weight rescue @child.anthropometry.weight %> kgs</p>
                  </div>
                </div>
              </em>
            </div>
        </div>
      </div>

      <div class="panel panel-transparent">
          <h4>Nutritional Treatment</h4>
          <div class="panel-body">
            <i>The amount of RUTF to be given are based on the weight of a child...</i>
            <br><br>
            <div class="row" >
              <div class="col-md-6" >
                <em>
                  <div>
                    <p>Type of Food : <%= @child.feedplans.last.type_of_food rescue nil %></p>
                  </div>
                  <div>
                    <p>Food package : <%= @child.feedplans.last.food_package rescue "sachets" %></p>
                  </div>
                  <div>
                    <p>Amount Offered : <%= @child.feeplans.last.amount_offered rescue nil %></p>
                  </div>
                </em>
                
              </div>

              <div class="col-md-6">
                  <h5>Weight of a child</h5>
                  
              </div>
            </div>
          </div>
      </div>
            
      <div class="panel panel-transparent" %>
        <h4>Medical Treatment</h4>
        <div class="panel-body">
            <div class="row" >
              <i>The following routine medicines are administered based on age and current weight...</i>
              <br><br>
              <div class="col-md-12" >
                <em>
                  <!-- Trigger Alarm when it is time for provision of each medication
                        Let the system be notified when given that medication (In its specified time ofcourse !!!)  -->
                  <div>
                    <p>Dosage of Vitamin A : <%= @child.routinetreatment.vitamin_A rescue nil %></p>
                  </div>
                  <div>
                    <p>Dosage of Folic acid : <%= @child.routinetreatment.folic_acid rescue nil %></p>
                  </div>
                  <div>
                    <p>Dosage of Amoxicilin Antibiotic : <%= @child.routinetreatment.amoxicilin_antibiotic rescue nil %></p>
                  </div>
                  <div>
                    <p>Dosage of Albendazole : <%= @child.routinetreatment.albendazole rescue nil %></p>
                  </div>
                </em>  
              </div>
            </div>
        </div>
      </div>
     
      <br />
      <hr>

          <div class="row">
            <em>
              <h3>Medical Tips: </h3>
              
                
            </em>
          </div>
           <!-- section for the assessment-->
          
        </div>
              
        </div>
      </div>

       
  </dl>

 
</div>

