<div class="col-md-12">
	<div class="col-md-9 col-md-offset-1">
		<i>Please fill in the entries below with required information as instructed...</i>
		<br><br>
		<%= f.input :referred_to, :label => "Referral to:", :collection => ["ARV services", "NRU", "HTC", "SFP"], :selected => "none" %>
		<%= f.input  :reason, as: :text, :label => "Reason For Referral",placeholder: 'e.g visit to HTC', class: 'col-md-4'%>
		<%= f.input :confirmed_by, :label => "Confirmed By:", class: 'col-md-4' %>

		<div id="myButton" class="pull-left">
                      <%= link_to '<< Back' , url_for(:action => 'index', :controller => 'referral', :child_id => @child.id), :class => 'btn btn-primary btn-default' %>
        </div>
		<div class="pull-right">
          <%= f.button :submit, 'CREATE ', class: 'btn btn-primary btn-lg' %>
      	</div>
	</div>
</div>