<div class="jumbotron">
	<div class="panel panel-transparent">
		<div class="panel-heading">
			<h4> CONFIRM REFERRAL DETAILS</h4>
		</div>

		<div class="panel-body">
			<div class="row">
	            <div class="col-xs-6">
	              <em>
	                <div>
	                  <p><strong>Full Name: </strong><%= @child.full_name %></p>
	                </div>
	                <div>
	                  <p><strong>ID Number: </strong><%= @child.reg_number %></p>
	                </div>
	              </em>
	            </div>
	  
	            <div class="col-xs-6">
	              <em>
	                <div>
	                  <p><strong>Age : </strong><%= @child.age_in_months %></p>
	                </div>
	                <div>
	                  <p><strong>Facility Name: </strong><%= Facility.name rescue "Nthumbwe Health Centre" %> </p>
	                </div>
	              </em>
	            </div>
		    </div>
		    <hr>
		    <i>Please review the following referral details for .Click edit should there be any changes...</i>
		    <br><br>
		    <div class="row">
		    	<div class="col-md-12">
		    		<em>
			    		<div class="col-xs-4">
				    		<div>
				    			<p><strong>Date referred: </strong><%= @referral.date_referred rescue nil%></p>
				    		</div>
				    	</div>
				    	<div class="col-xs-4">
				    		<div>
				    			<p><strong>Referral to: </strong><%= @referral.referred_to rescue nil%></p>
				    		</div>
				    	</div>
				    	<div class="col-xs-4">
				    		<div>
				    			<p><strong>Confirmed By: </strong><%= @referral.confirmed_by rescue nil%></p>
				    		</div>
				    	</div>
				    	<div class="col-xs-8">
				    		<div>
				    			<p><strong>Reason: </strong><%= @referral.reason rescue nil %></p>
				    		</div>
				    	</div>
			    	</em>

		    	</div>
		    </div>

		    <br><br>

		    <div class="row">
		    	<div class="col-md-12">
		    		<div class="col-md-5 col-md-offset-1">
		    			<div class="pull-left">
		    				<%= link_to 'Edit', url_for(:action => 'edit', :id =>@referral.id ,:controller => 'child') , :class => "btn btn-default btn-primary" %>
		    			</div>
		    		</div>

		    		<div class="col-md-5">
		    			<div class="pull-right">
		    				<%= link_to 'CONFIRM' , url_for( :action => 'show', :id => @referral.id ), :class => 'btn btn-primary btn-default' %>
		    			</div>
		    		</div>
		    	</div>
		    	
		    	
		    </div>
		</div>
	</div>
	<!-- <div class="date">
		<p>Time: <b></b></p>
	</div> -->
</div>