<div class="col-md-12">
	<center><h4>Nutritional Assessment</h4></center>
	<div class="col-md-8">
				<div class="form-group">
					<label for="type_of_food">Type of Food :</label>
					<dt><%= fp.text_field :type_of_food, :label => "Type of Food :", placeholder: 'e.g. RUTF' , :style => "color:grey"%></dt>
				</div>

				<div class="form-group">
					<dd><label for="food_package">Food Package :</label></dd>
					<dt>
						<%= fp.radio_button(:food_package, 'sachet')%> Sachets
						<%= fp.radio_button(:food_package, 'bottle')%> Bottles</dt>
				</div>

				<div class="form-group" >
					<label for="amount_offered">Amount Offered :</label>
					<dt><%= fp.text_field :amount_offered, :label => "Amount Offered :", :style => "color:grey"%></dt>
				</div>

				<div class="form-group" >
					<label for="amount_offered">Amount Offered :</label>
					<dt><%= fp.text_field :amount_left, :label => "Amount Left :", :style => "color:grey"%></dt>
				</div>
	</div>
	<div>

				<div class="form-group">
					<dd><label for="estimated_amount_vomited">Vomiting? :</label></dd>
					<dt>
						<%= fp.radio_button(:estimated_amount_vomited, 'Yes')%> Yes
						<%= fp.radio_button(:estimated_amount_vomited, 'No')%> No</dt>
				</div>

				<div class="form-group">
					<dd><label for="watery_diarrhoea">Has Diarrhoea? :</label></dd>
					<dt>
						<%= fp.radio_button(:watery_diarrhoea, 'Yes')%> Yes
						<%= fp.radio_button(:watery_diarrhoea, 'No')%> No
					</dt>
				</div>
	</div>
			
</div>
