<div class="jumbotron jumbotron-fluid">

  <div class="panel panel-transparent">
      <div class="panel-heading"><h3>EDIT SESSION CARD</h3></div>
      <div class="panel-body">
          <center><h4><em>6 MONTHS TO < 12 YEARS</h4></em></center>

          <br>

          <div class="row">
            <div class="col-xs-6">
              <em>
                <div>
                  <p><strong>Full Name: </strong><%= @child.full_name %></p>
                </div>
                <div>
                  <p><strong>ID Number: </strong><%= @child.reg_number %></p>
                </div>
              </em>
            </div>
  
            
          </div>
          <hr>
            <i>Please fill in the entries below with required data gathered during check-up...</i>
          <br />
          <div class="row">
            <%= simple_form_for :follow_up, :url => url_for(:action => 'update', :controller => 'check-up', :id => @follow.id),
          :method => 'post'  do |f| %>

              <%= render(:partial => "form", :locals => {:f => f}) %>

              <div class="col-md-12 col-offset-8">
                  <%= f.button :submit, 'UPDATE ', class: 'btn btn-primary btn-lg' %>
              </div>
      <% end %>
          </div>
          
      </div>
      <!-- #link_to '<< Back', url_for(:action => 'index', :controller => 'child'), class: 'btn btn-primary btn-medium'%> -->
  </div>

</div>

