<div class="jumbotron jumbotron-fluid">

  <div class="panel panel-transparent">
      <div class="panel-heading"><h3><%= @child.full_name.upcase %> (<em><%= @child.reg_number%></em>)</h3></div>
      <div class="panel-body">
          <!-- 
              <span id="anthrop">Anthropometry</span>
              <span id="medic">Medical</span>
              <span id="nutrit">Nutrition</span> -->

              <div class="container container-fluid">
                
                <div>  <%= line_chart @follow.group("date(created_at)").sum(:weight), xtitle: "checkup date", ytitle: "Weight (kg)" %> </div>


                <div>  <%= line_chart @follow.group("created_at").sum("height") , xtitle: "checkup date", ytitle: "Height (cm)" %> </div>
                s
                <div>  <%= line_chart @follow.group("date(created_at)").sum(:muac) , xtitle: "checkup date", ytitle: "MUAC (cm)"%> </div>
              </div>
          <div class="row" >
            <%= simple_form_for :presenter, :url => url_for(:action => 'create', :controller => 'check-up'),
          :method => 'post'  do |f| %>

              <%= render(:partial => "form", :locals => {:f => f}) %>

              <div class="col-md-12 col-offset-8">
                  <%= f.button :submit, 'Done', class: 'btn btn-primary btn-lg' %>
              </div>
      <% end %>
          </div>
          
      </div>
      <!-- #link_to '<< Back', url_for(:action => 'index', :controller => 'child'), class: 'btn btn-primary btn-medium'%> -->
  </div>

</div>

