<div class="jumbotron"  >
<dl class="dl-horizontal">
     <div class="panel panel-primary panel-transparent">
        <div class="panel-heading">
        	<h3>CONFIRM ASSESSMENT DETAILS</h3>
        </div>

        <div class="panel-body">
        	
            <div class="row">  
                  <div class="col-xs-6" >
                   <em> 
                    <table>
                        <div>
                        	<p>Weight: <%= @check_up.weight rescue nil%></p>
                        </div>

                        <div>
                          <p>Height: </p>
                        </div>

                        <div>
                        	<p>Appetite test: <%= @check_up.appetite_test rescue nil%></p>
                        </div>

                        <div>
                          <p>MUAC  <em>:<%= @check_up.MUAC rescue nil%></em></p>
                        </div>
                        
                        <div>
                          <p>Z-Score  :  <em><%= @check_up.z_score rescue nil%></em></p>
                        </div>

                        <div>
                          <p>Comments : <%= @check_up.remark rescue nil %></p>
                        </div>

                        <div>
                          <p>Oedema :</p>
                        </div>
                    </table>
                    </em>  
                  </div>

    </div>

    <div class="row">
    	<div id="myButton" class="col-md-8 col-offset-4">
    		<%= link_to 'CONFIRM', url_for(:controller => 'check_up', :action => 'index') , :class => "btn btn-primary btn-default" %>
      </div>
    </div>

</dl>
</div>