  <div class="panel panel-primary panel-transparent">
        <div class="panel-heading">
        	<h4>WEEKLY SURVELLANCE SESSION</h4>
        </div>
        <center><h4><em><%= @child.full_name.upcase %></h4></em></center>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <h5>Anthropometric Assessment</h5>

                <p><i><strong>Today's Weight: </strong> <%= @followup.weight rescue nil%></i></p>
                <p><i><strong>Today's Height: </strong> <%= @followup.height rescue nil%></i></p>
                <p><i><strong>MUAC: </strong> <%= @followup.MUAC rescue nil%></i></p>
                <p><i><strong>Z Score: </strong> <%= @followup.z_score rescue nil%></i></p>
                  <% if @child.age > 5%>
                    <p><i><strong>BMI: </strong> <%= @followup.BMI rescue nil%></i></p>
                  <% end %>
                <p><i><strong>Oedema Status: </strong> <%= @followup.oedema rescue nil%></i></p>
            </div>

            <div class="col-md-6">
                <h5>Medical Assessment</h5>
                
                <p>
                  <i><strong>Complemenary Food: </strong> <%= @test.complementery_food rescue nil%></i>
                </p>
                <p><i><strong>Is a child vomiting?: </strong> <%= @test.vomiting rescue nil%></i></p>

                <p><i><strong>Having Diarrhoea? : </strong> <%= @feedplan.watery_diarrhoea rescue nil%></i></p>

                <p><i><strong>Stools : </strong> <%= @test.stools rescue nil%></i></p>
              
                <p><i><strong>Clinical Status: </strong> <%= @followup.clinical_status rescue nil%></i></p>    
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <h5>Nutritional Assessment</h5>

              <p><i><strong>Food Package : </strong> <%= @feedplan.food_package rescue nil%></i></p>

              <p><i><strong>Amount left : </strong> <%= @feedplan.amount_left rescue nil%></i></p>
              
              <p><i><strong>Examined By : </strong> <%= @followup.clinician rescue nil%></i></p>

              <p><i><strong>Comments : </strong> <%= @followup.remark rescue nil%></i></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6" id="myButton">
            <div class="pull-left">
              <%= link_to 'Edit', url_for(:action => 'edit', :id =>@child.id ,:controller => 'check-up') , :class => "btn btn-default btn-primary" %> 
            </div>
          </div>

          <div id="myButton" class="col-md-6">
            <div class="pull-right">
              <%= link_to 'CONFIRM' , url_for( :action => 'display', :controller => 'check-up', :child_id => @child.id), :class => 'btn btn-primary btn-default' %>
            </div>
          </div>
        </div>
        
  </div>

  
<style type="text/css">
  h5{
    text-decoration: underline;
  }
</style>