<div class="jumbotron"  >
  <dl class="dl-horizontal">
      <div class="panel panel-transparent">
          <div class="panel-heading">
          	<h4>CHILD VISITS SUMMARY</h4>
          </div>
      </div>

      <h5><em>Child Details</em></h5>
      <div class="panel panel-transparent">
          <div class= "panel-body">
              <div class="col-md-6">
                <p><i><strong>ID Number: </strong> <%= @child.reg_number rescue "0411111"%></i></p>
                <p><i><strong>Full Name: </strong> <%= @child.full_name rescue "hduue"%></i></p>
              </div>
              <div class="col-md-6">
                <p><strong>Age (<i>months</i>) : </strong> <%= @child.age_in_months rescue nil%></p>
                <p><i><strong>Gender : </strong> <%= @child.sex rescue nil %></i></p>
              </div>
          </div>
      </div>

      <div class="row-fluid">
       <h5 class="col-md-6"><em>Summary of Visits</em></h5> 
       <h5 class="col-md-6"> The plot of weight against visits</h5>
      </div>
      
      <div class="panel panel-transparent">
        <div class="panel-body">
            <div class="row">
              <!-- holds the statistics -->
                <div class="col-md-6">
                    <div>

                        <p><i><strong> Last Update: </strong> <%= @child.followups.last.last_update rescue @child.anthropometry.updated_at.to_date %></i></p>
                    </div>
                    <div>
                        <p><i><strong> Total number of visits: </strong><%= @child.followups.count rescue @child.feedplans.first.amount_offered %></i></p>

                    </div>
                    <div>
                        <p><i><strong> Length of stay: </strong><%= ((Time.now.to_date - @child.admission.created_at.to_date).to_i) rescue nil%> days</i></p>
                    </div>
                    <div>
                        <p><i><strong> Total Amount of RUTF used: <%= @child.feedplans.total_amount rescue nil%></strong></i></p>
                    </div>
                    <br><br>
                    <div id="myButton" class="pull-left">
                      <%= link_to 'REFERRAL' , url_for(:action => 'index', :controller => 'referral', :child_id => @child.id), :class => 'btn btn-primary btn-default' %>
                    </div>
                </div>

                <!-- holds some graphs (weight graph) -->

                <div class="col-md-6">
                 

                <div class="container-fluid">
                  <div>
                    <%= line_chart @child_follows.group(:created_at).sum(:weight),  xtitle: "checkup days", ytitle: "Weight (kg)", download: "boom" %> 
                  </div>
                  <br>
                </div>  
            </div>
            <!-- DIV to hold the table for OTP session card -->
            <div class="row">
              <div class="col-md-12">
              <br><br>
              <i>*The OTP ration card below shows the updates for the last two visits</i>
              <table class="table table-bordered" >
                  <thead>
                    <tr>
                      <th>Distribution</th>
                      <th>Date</th>
                      <th>Oedema</th>
                      <th>Weight</th>
                      <th>Height</th>
                      <th>WHZ</th>
                      <th>MUAC</th>
                      <th>BMI*(for Age)</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @follows.each do |check| %>
                    <tr>
                      <td><%= check.id rescue nil %></td>
                      <td><%= check.last_update rescue nil %></td>
                      <td><%= check.oedema rescue nil %></td>
                      <td><%= check.weight rescue nil %></td>
                      <td><%= check.height rescue nil %></td>
                      <td><%= check.z_score rescue nil %></td>
                      <td><%= check.MUAC rescue nil %></td>
                      <td><%= check.BMI rescue "-" %></td>                     
                    </tr>
                    <% end %>
                  </tbody>
              </table>
                <div id="myButton" class="pull-right">
                   <%= link_to 'UPDATE CARD' , url_for( :action => 'new', :controller => 'check_up', :child_id => @child.id), :class => 'btn btn-primary btn-default' %>
                </div>
              </div>
            </div>
            <br>
            <br>            
        </div>
      </div>

  </dl>
</div>




<script>
$(document).ready(function(){
    $("#myBtn").click(function(){
        $("#myModal").modal();
    });
});
</script>

<style type="text/css">
  h5 {
    text-decoration: underline;
  }


</style>