
<div class="jumbotron">

	<div class="panel panel-transparent">
		<div class="panel-heading">
			<h3>Discharge Summary</h3>
    	</div>
	</div>

	<table id="discharge" class="table table-inverse table-bordered" >
        <thead>
            <tr>
              	<th>Cured <span>(k)</span></th>
              	<th>Died <span>(L)</span> </th>
              	<th>Defaulted <span>(M)</span></th>
              	<th>Non Response (N)</th>
              	<th>Transfer to NRU <span>(O)</span></th>
              	<th>Transfer to Other OTP <span>(P)</span> </th>
              	<th>Total</th>
            </tr>
        </thead>

  		<tbody>
          	<tr>
                <td> <%= @child_cured.count rescue nil %></td>
                <td> <%= @child_dead.count  rescue nil %></td>
                <td> <%= @child_dead.count  rescue nil %></td>
                <td> <%= @child_dead.count  rescue nil %></td>
                <td> <%= @child_dead.count  rescue nil %></td>
                <td> <%= @child_dead.count  rescue nil %> </td>
                <td> <%= @discharge.count   rescue nil %></td>
          	</tr>
       		<tr>

            <% if @discharge.count != 0 %>
             <td>Cure rate= <%= (@child_cured.count/@discharge.count)* 100 %> %</td>
                <td>Death rate = <%= (@child_dead.count/@discharge.count)* 100 %> %</td>
                <td>Default rate = <%= (@child_defaulted.count/@discharge.count)* 100 %> %</td>
                <td>Non-response rate = <%= (@child_nonresponse.count/@discharge.count)* 100 %>  %</td>
              <td colspan="3"></td>
                 
            <% end %>
        	 	
            </tr>
        </tbody>
   
       	<tfoot>
   		 	   <td><button class="btn btn-default btn-md" data-toggle="collapse" data-target="#cure">Target Cured rate </button>

            <div id="cure" class="collapse">
              N/A
            </div>
            </td>
          	<td><button class="btn btn-default btn-md" data-toggle="collapse" data-target="#dead">Target Death rate </button>

            <div id="dead" class="collapse">less than 10%
            </div>
            </td>

          	<td><button class="btn btn-default btn-md" data-toggle="collapse" data-target="#default">Target Defaulted rate </button>

            <div id="default" class="collapse">less than 15%
            </div> 
            </td>

          	<td><button class="btn btn-default btn-md" data-toggle="collapse" data-target="#nores">Target Non-response rate </button>

            <div id="nores" class="collapse"> N/A
            </div>
            </td>
            <td colspan="3"></td>

          	</tfoot>
		

	</table>














<hr>
 


<%= link_to '<< Back', url_for(:action => 'index' ,:controller => 'program_overview') , :class => "btn btn-primary btn-default" %> 
 

</div>


   


